$breakpoints: (
    small: 576px, // Small devices (landscape phones, 576px and up)
    medium: 768px, // Medium devices (tablets, 768px and up)
    large: 992px, // Large devices (desktops, 992px and up)
    xlarge: 1200px, // Extra large devices (large desktops, 1200px and up) 
);

// https://github.com/eduardoboucas/include-media
@import 'include-media/dist/_include-media.scss';